<h1><%= @setlist.name %></h1>

<h2><%= @setlist.notes %></h2>

<h3>Songs</h3>

<ul class="list-unstyled">
<% @setlist.songs.each do |song| %>
  <li><%= song.name %></li>
<% end %>
</ul>

<%= link_to 'Edit', edit_setlist_path(@setlist) %>
