#setlist_practice_false {
  margin-left: 30px;
}

.practice-radios {
  display: table;
  margin: 10px auto 20px auto;
}

ul.setlist {
  margin-bottom: 50px;
}

small {
  display: block;
  color: #999;
}
