// SHOW

ul.setlist {
  margin-bottom: 50px;
}

// _FORM

.practice-radios label,
.songs .checkboxes label {
  font-size: 120%;
  padding: 10px;
  margin-bottom: 0;
  text-align: center;
  background: #efefef;
  cursor: pointer;
  width: 100%
}

.practice-radios {
  margin: 30px 0 30px 0;

  label { width: 49% }
}

.songs {
  h3 { margin-bottom: 10px }

  .checkboxes {
    width: 85%;
    margin: 15px auto 10px auto;

    li { margin-bottom: 15px }
    li:last-of-type { margin-bottom: 0 }
  }

  p.help-block:last-of-type { margin-bottom: 30px }
}

textarea.input-lg {
  height: 100px;
}

input[type=checkbox],
input[type=radio] {
  display:none
}

input[type=checkbox]:checked + label,
input[type=radio]:checked + label {
  background: #5BC0DE;
  color: #fff;
}
