.songs {
  li {
    width: 90%;
    background: #efefef;
    margin-bottom: 15px;
    padding: 5px;

    label {
      font-size: 130%;
      font-weight: normal;
      display: inline-block;
      width: 100%;
      margin-bottom: 0;
    }
  }
}

li.song {
  text-align: center;
  font-size: 170%;
}

p.audio-info {
  text-align: left;
  margin-bottom: 20px;
  font-size: 65%;
}

audio {
  width: 100%;
  margin: 20px 0 0 0;
}
